
@import "components/MovieInfo/MovieInfo.less";
@import "components/List/List.less";
@import "components/Movie/Movie.less";

//colors
@teal : #26A69A;
@light-grey : #EEEEEE;

body {
    font-family : Droid Sans, menlo, monaco, monospace;
    background-color: @light-grey;
    margin : 0;

    h2 {
        margin-top : 0;
        margin-bottom : 5px;
        font-weight : 500;
        font-size : 20px;
    }

    #sidebar {

        @media(max-width : 992px) { display : none; }

        width : 30%;
        min-height : 100%;
        position : fixed;
        float : left;
        text-align : right;
        background-color : @teal;
        color : @light-grey;

        #page-info {
            padding : 30px 20px 10px 20px;

            p {
                font-size : 11px;
                margin : 5px 0;
            }

             hr {
                 height : 3px;
                 background-color : @light-grey;
             }
        }

        #search {
            padding : 15px 0 25px;
            marign-bottom : 15px;
            text-align : center;

            input {
                text-align : center;
                height : 30px;
                width : 70%;
                border : none;
                font-size : 14px;
                background-color : @light-grey;
            }
        }

        #src {
            float : left;

            img {
                width : 25px;
                height : 25px;
                bottom : 0;
                padding : 5px;
                position : fixed;
                border-radius : 25px;
                opacity : 0.6;
            }
        }
    }

}
