
@import "components/Info/Info.less";
@import "components/List/List.less";
@import "components/Movie/Movie.less";

//colors
@dark-teal : #00796B;
@teal : #26A69A;
@light-teal : #B2DFDB;
@grey : #727272;
@light-grey : #FAFAFA;
@light-grey2 : #EEEDED;


body {

    background-color: @light-grey2;
    margin : 0;
}
