
#list {
    height: 80%;
    overflow-y: scroll;

    ul {
        list-style: none;
        padding: 0;

        li {
            border : 1px solid white;
            padding: 10px;
            text-align: center;
        }
    }
}
