
#list {

    background-color: cyan;

    ul {
        border: 2px dashed purple;
        padding: 10px;
        list-style: none;

        li {
            border : 1px solid white;
            text-align: right;
        }
    }
}
