
@import '../List/List.scss';
@import '../MovieInfo/MovieInfo.scss';

html, body {
    margin: 0;
    padding: 0;
}

#mainContainer {
    background-color: #DDD;

    #left {
        background-color : #F65;
        width : 50%;
        height: 100%;
        overflow-y: scroll;

        #myflixInfo {
            background-color: white;
        }
    }
}
