
@import 'components/List/List.scss';
@import 'components/MovieInfo/MovieInfo.scss';

#mainContainer {
    background-color: #DDD;

    #left {
        background-color : #F65;
        width : 50%;
        height: 100%;
        overflow-y: scroll;

        #myflixInfo {
            background-color: white;
        }
    }
}