
@import '../List/List.scss';
//@import '../MovieInfo/MovieInfo.scss';

html, body {
    margin: 0;
    padding: 0;
}

#mainContainer {
    width: 50%;
    margin-left: 25%;
    height: 100%;
    background-color: #DDD;

    #header {
        height: 15%;
    }
}
